::ng-deep {
    app-custom-input {
      display: block;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0; 
      }
    }
    
    .k-input-solid {
      width: 200px;
    }
  }
  