<kendo-grid [data]="data">
    <kendo-grid-column field="name" title="Tên UI"></kendo-grid-column>
    <kendo-grid-column title="DTO Sử Dụng">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span *ngFor="let dto of dataItem.dtos.split(','); let last = last">
          <a (click)="openDtoDialog(dto)">{{ dto.trim() }}</a><span *ngIf="!last">, </span>
        </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="API Sử Dụng">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span *ngFor="let api of dataItem.apis.split(','); let last = last">
          <a (click)="openApiDialog(api)">{{ api.trim() }}</a><span *ngIf="!last">, </span>
        </span>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
  
  <kendo-dialog *ngIf="showDialog" (close)="closeDialog()">
    <kendo-dialog-titlebar>
      {{ dialogTitle }}
    </kendo-dialog-titlebar>
    <pre style="max-height:400px; overflow:auto;">{{ dialogContent }}</pre>
    <kendo-dialog-actions>
      <button kendoButton (click)="closeDialog()">Đóng</button>
    </kendo-dialog-actions>
  </kendo-dialog>
  