::ng-deep{
    app-supplier-quotation{
            display: block;
            padding: 20px;
          }
          a {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
          }
          pre {
            background-color: #f5f5f5;
            padding: 10px;
            border-radius: 4px;
          }
    }
  